body {
  color :rgb(0, 0,0 );
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  margin: 0;
}

header {
  background-color: skyblue;
}

.container {
  /* background-color:skyblue; */
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  font-size: 25px;
}

.icon {
  /* background-color: skyblue; */
}

.icon img {
  /* border-radius: 20px; */
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}

.info {
  /* background-color: auto; */
  margin-left: 32px;
  font-size: 30px;
}

.info h1 {
  font-weight:900;
  font-size: 40px;
  margin: 0;
}

.info p {
  margin: 0;
  margin-bottom: 16px;
  font-family: monospace;
}

.phota {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.phota > h1 {
  font-weight:bolder;
  font-size: 70px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}


.phota section {
  margin-bottom: 60px;
  font-size: 30px;
  font-family:monospace;
}

.phota > section > h1 {
  font-weight: 600;
}

.phota p  {
  line-height: 1.8;
}
 
footer p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
  color: gray;
}

a[href^="mailto"]::before {
  content:"📧"
}

h2 {
  font-size:45px;
}

address {
  font-size: 30px;
}

.form {
  width:"100";
  margin: 0 auto;
  border: 10px solid #9c9c9c;
  padding: 50px;
  box-sizing: border-box;
}

.item {
  margin-bottom:10px;
}

.label_left {
  display: inline-block;
  width: 25%;
  border-left: solid 5px #5250e0;
  padding-left: 15px;
  vertical-align: top;
}


form input [type="text"]{
  padding: 10px;
  height: 100px;
  font-size: 20px;
  width: 400px;
  height: 200px;;
}

.form input [type="email"] {
  padding: 10px;
  height: 100px;
  font-size: 20px;
  width: 400px;
  height: 200px;
} 

textarea {
  padding: 10px;
  height: 100px;
  font-size: 20px;
  width: 400px;
  height: 200px;
}

.button {
  display:flex;
  border-radius: 5%;
  font-size: 40pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: #000066;
  color: #ffffff;
  line-height: 1em;
  transition: 3s;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid #000066;
  justify-content: center;
}
.button:hover {
  box-shadow: none;
  color: #000066;
  background: #ffffff;
}